@charset "UTF-8";

// 文字色
$color__main: #fff;
$color__sub: #121212;
$color__shadow: #cccccc;
$color__main-text: #121212;
$color__sub-text: #fff;

// フォントサイズ
$font-size__section-title: 2.5rem; // 36px
$font-size__text: 1rem; //14.4px
$font-size__small-text: 0.83rem; //12px
$font-size__copy-right: 0.83rem; //12px

$font-size__sp-section-title: 1.6rem; // 24px
$font-size__sp-text: 1rem; //14.4px
$font-size__sp-small-text: 0.83rem; //12px
$font-size__sp-copy-right: 0.83rem; //12px
